@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Ysabeau+SC&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
}

/* Header section  */
.header {
    padding: 2% 0 2% 0;
    position: sticky;
    bottom: 0;
    top: 0;
    background-color: white;
    /* box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2); */
    /* z-index: -1; */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand-name {
    font-family: 'Comic Neue', cursive;
}

.navbar ul {
    display: flex;
    gap: 2rem;
}

.navbar li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.navbar li a {
    color: black;
    text-decoration: none;
    transition: 0.8 ease-in-out;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a:hover::after,
.navbar li a.active::after {
    content: '';
    position: absolute;
    background: #088178;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.nav-social .bi {
    font-size: 1.3rem;
}


/* Hero section  */
.hero {
    padding: 0 2% 2% 2%;
}

.hero_content {
    background-image: url(images/Untitled\ design\ \(11\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    text-align: center;
}

.hero_content h1 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 3rem;
    color: white;
    padding: 3% 0 1.5% 0;
    text-transform: uppercase;
    letter-spacing: 4pt;
}

.button button {
    width: 130px;
    height: 35px;
    border: none;
    font-weight: 600;
    font-family: 'Comic Neue', cursive;
    text-transform: capitalize;
}

/* Primary section (Best-selling) */

.content_title {
    text-align: center;
    padding: 1.5%;
}

.content_title h2 {
    font-family: 'Ysabeau SC', sans-serif;
    letter-spacing: 2pt;
    font-size: 2rem;
}

.content_title p , .content_title{
    font-family: 'Comic Neue', cursive;
}

.label p {
    font-weight: 600;
    font-size: 1.3rem;
}

.bestselling_imag {
    padding: 0 10% 0 12%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 2rem; */
}

.image img {
    width: 90%;
}

.image .label {
    padding: 2%;
    text-align: center;
    padding-bottom: 3.5rem;
}

.menu {
    padding-bottom: 3rem;
}

.menu h3 {
    width: 11%;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
}

/* PRODUCTS DISPLAY  */

.plain_container {
    margin: auto;
    width: 80%;
    height: 20vh;
    background-color: brown;
}

.display_images img {
    width: 100%;
}

.display_images {
    /* position: absolute; */
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5%;
    padding: 0 15% 5% 15%;
}

/* delivery section  */
.delivery_container {
    padding: 0 10% 0 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 3rem;
}

.delivery_content {
    border-right: 1.8px solid black;
}

 /* --------------- FOOTER SECTION -----------------  */

 #footer {
    margin: 2% 2% 0 2%;
    background-color: rgb(252, 208, 222);
    color: rgb(78, 9, 32);
 }

 .footer_container {
    padding: 4% 0 4% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

.footer_content {
    display: flex;
    gap: 5rem;
}

 .footer_list h2 {
    padding-bottom: 2.2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
 }

 .footer_list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Comic Neue', cursive;
 }

 .footer_list ul a {
    text-decoration: none;
    color: rgb(78, 9, 32);
 }

 .footer_list ul a:hover {
    text-decoration: underline;
 }
 
 .footer_form input {
    text-align: center;
    width: 350px;
    height: 45px;
    margin-bottom: 4%;
 }

 .btn button {
    text-transform: uppercase;
    width: 350px;
    height: 45px;
 }