@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Norican&family=Saira+Condensed:wght@300;400&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Josefin+Sans&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Orbitron&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans&family=Raleway&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Merriweather:wght@700&family=Noto+Sans&family=Pacifico&family=Raleway&family=Roboto&family=Sulphur+Point&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
}


/* Header section  */
.header {
    padding: 1.5% 0 0 0;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s;
}

.header.shadow {
    padding: 1.5% 0 1.5% 0;
    position: fixed;
    background-color: white;
}

.brand-name1 {
    text-align: center;
    margin-bottom: 2%;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.navbar li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
}

.navbar li a {
    color: black;
    text-decoration: none;
    transition: 0.5 ease-in-out;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;
}

.navbar li a:hover::after,
.navbar li a.active::after {
    content: '';
    position: absolute;
    background: #088178;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.nav-social .bi {
    font-size: 1.3rem;
}

/* ---- HEADER SECTION MEDIA QUERY -------------  */
@media (min-width: 1128px){
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .brand-name1 {
        display: none;
    }

    .nav-social li{
        display: none;
    }
}

@media (max-width: 1128px){
    .brand-name {
        display: none;
    }

    .nav-soc li{
        display: none;
    }
}

@media (max-width: 572px) {
    .header {
        padding: 4% 0 2% 0;
    }
    .navbar ul {
        gap: 1rem;
    }
} 

@media (max-width: 475px){
    .brand-name1 {
        margin-bottom: 1rem;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
}

/* Hero section  */
.hero {
    padding: 2% 2% 2% 2%;
}

.hero_content {
    background-image: url(images/Untitled\ design\ \(11\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    text-align: center;
}

.hero_content h1 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 3rem;
    color: white;
    padding: 3% 0 1% 0;
    text-transform: uppercase;
    letter-spacing: 4pt;
}

.button button {
    cursor: pointer;
    width: 130px;
    height: 35px;
    border: none;
    font-weight: 600;
    font-family: 'Comic Neue', cursive;
    text-transform: capitalize;
}

/* ---- HERO SECTION MEDIA QUERY -------------  */
@media (max-width: 1128px) {
    .hero h1 {
        padding: 6.3% 0 1% 0;
    }
}


/* Primary section (Best-selling) */
.content_title {
    text-align: center;
    padding: 1.5%;
}

.content_title h2 {
    font-family: 'Ysabeau SC', sans-serif;
    letter-spacing: 2pt;
    font-size: 2rem;
}

.content_title p , .content_title{
    font-family: 'Comic Neue', cursive;
}

.label {
    text-transform: capitalize;
    line-height: 1.5;
}

.label p {
    font-weight: 600;
    font-size: 1.3rem;
    color: palevioletred;
}

.bestselling_imag {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    max-width: 1500px;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
}

.image .label {
    padding: 2%;
    text-align: center;
    padding-bottom: 3.5rem;
}

/* ---- BESTSELLERS SECTION MEDIA QUERY -------------  */
@media (max-width: 1128px) {
    .bestselling_imag {
        padding: 0 5% 0 5%;
        gap: 0.6rem;
    }
}

@media (max-width: 844px) {
    .bestselling_imag {
        margin-top: 2%;
        grid-template-columns: repeat(1, 1fr);
    }

    .label {
        text-align: center;
    }
}


/* ............................  */
.menu {
    padding-bottom: 3rem;
}

.menu h3 {
    width: 30%;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
}


/* PRODUCTS DISPLAY  */
.plain_container {
    margin: 0 20% 0 10%;
    width: 80%;
    height: 30vh;
    background: url(images/cupcakes-2887270_1920.jpg);
    position: absolute;
}

.display_images img {
    width: 100%;
}

.display_images {
    position: relative;
    top: 75px;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5%;
    padding: 0 15% 10% 15%;
}

@media (max-width: 1050px) {
    .display_images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .plain_container {
        margin: 0 10% 0 6%;
        width: 90%;
        height: 30vh;
    }

    .display_images {
        grid-template-columns: repeat(1, 1fr);
    }

    .display_container {
        padding-top: 4%;
        padding-bottom: 15%;
    }
}
/* PRODUCTS DISPLAY  */

/* ----------------------- ABOUT PRODUCT SECTION ------------------  */
.about_container {
    margin-top: 3%;
}

.about_content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    background-color: #088178;
}

.about_image{
    width: 50%;
}

.about_image img {
    width: 100%;
}

.about_title {
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.about_subtitle {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.about_list {
    line-height: 2;
    font-size: 1.2rem;
}

@media (max-width: 1050px) {
    .about_container {
        margin-top: 6%;
    }

    .about_content {
        flex-direction: column;
    }

    .about_image {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .about_container {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .about_image {
        width: 80%;
    }

    .about_title {
        font-size: 2.3rem;
    }
}
/* ------------------- END ABOUT SECTION ---------------------  */

/* delivery section  */
.delivery_container {
    padding: 5% 10% 0 10%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 3rem;
}

.delivery_content {
    border-right: 1.8px solid black;
}
/* ------------------- END DELIVERY CONTAINER ------------------------  */


 /* --------------- FOOTER SECTION -----------------  */
 #footer {
    margin: 2% 2% 0 2%;
    background-color: rgb(252, 208, 222);
    color: rgb(78, 9, 32);
 }

 .footer_container {
    padding: 4% 0 4% 0;
    display: flex;
    justify-content: space-around;
 }

.footer_content {
    display: flex;
    gap: 5rem;
}

 .footer_list h2 {
    padding-bottom: 2.2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
 }

 .footer_list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: 'Comic Neue', cursive;
 }

 .footer_list ul a {
    text-decoration: none;
    color: rgb(78, 9, 32);
 }

 .footer_list ul a:hover {
    text-decoration: underline;
 }
 
 .footer_form input {
    text-align: center;
    width: 20vw;
    height: 6vh;
    margin-bottom: 3%;
    border: none;
 }

 .btn button {
    cursor: pointer;
    text-transform: uppercase;
    width: 20vw;
    height: 6vh;
    background-color: rgb(165, 78, 104);
    color: white;
 }

 /* -------------- FOOTER MEDIA QUERY SECTION -------------  */

 @media (max-width: 1568px) {
    .footer_form input {
        width: 28vw;
    }

    .btn button {
        width: 28vw;
    }
 }

@media (max-width: 1168px) {
    .footer_container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer_form input {
        width: 40vw;
    }

    .btn button {
        width: 40vw;
    }

}

@media (max-width: 700px) {
    .footer_container {
        padding: 8% 0 8% 5%;
        align-items: flex-start;
    }

    .footer_content {
        flex-direction: column;
    }

    .footer_content {
        gap: 2rem;
    }

    .footer_form input {
        width: 55vw;
    }

    .btn button {
        width: 55vw;
    }

    .footer_container {
        gap: 3rem;
    }
}
 /* --------- END OF FOOTER --------  */